<div ng-controller="appController">

  <button class="regular">Add my template</button>

  <div id = "template"></div>


  <h1> This is the angular insert of the template via ng-bind-html:</h1>
  <div ng-bind-html="template"></div>




</div>